# Python specific
*.pyc
*.pyo
*.pyd
__pycache__
dist
build

# Project output
*.log

# Local settings
local_settings.py

# Database
*.sqlite
*.sqlite3

# run_tests.sh
testenv
testresults

# Temp files & host system
*.swp
*.lock
*.pid
*.DS_Store
*~
src/static/CACHE
.cache/

# IDE
.project
.pydevproject
.settings
.idea/*

# other
*.pot
.env
htmlcov
distribute-*.tar.gz
/.coverage

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc

## Intermediate documents:
*.dvi
*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Latexian
TSWLatexianTemp*
