<div class="container">
    <h1>Fancy Chat App</h1>
    <div class="row">
        <form class="form-group" #newMessage="ngForm" (submit)="onSendMessage()">
            <textarea name="message" class="form-control" [(ngModel)]="text" required></textarea>
            <button type="submit" class="form-control" [disabled]="newMessage.invalid">Send message</button>
        </form>
    </div>
    <div class="row">
       <ul>
           <li *ngFor="let message of (messages | reverse)" [ngStyle]="{'border-color': border, 'background-color': background}">
                <b [ngClass]="{'admin': message.writer.is_admin }">{{ message.writer.username }}
                    <small>({{ message.writer.first_name }} {{ message.writer.last_name }})</small>
                </b> wrote at
               <small>{{ message.date | date: 'hh:mm' }} on {{ message.date | date: 'fullDate' }}</small>:
               <p>{{ message.text }}</p>
           </li>
       </ul>
    </div>
</div>
