h1 {
    width: 260px;
    margin: -100px auto 100px auto;
}

.row {
    text-align: center;
    width: 450px;
    margin: 0 auto;
}

button {
    margin-top: 10px;
}

ul {
    margin: 10px 0;
    padding: 0;
}

li {
    padding: 0;
    list-style: none;
    border-bottom: solid 1px gray;
    margin-bottom: 5px;
}

.admin {
    background: red;
}